<h1>{{title}}</h1>

<ap-search (onTyping)="filter = $event" [value]='filter'></ap-search>

<app-photos [photos]="photos | filterByDescription: filter"></app-photos>

<app-load-button [hasMore]="hasMore" (click)="load()"></app-load-button>